@font-face {
  font-family: InterBlack;
  src: url(./fonts/Inter-Black.otf);
}
@font-face {
  font-family: InterVBold;
  src: url(./fonts/Inter-V.ttf);
}
@font-face {
  font-family: InterMedium;
  src: url(./fonts/Inter-Medium.otf);
}
